name: build

on: [pull_request, push]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup devcmd
        uses: ilammy/msvc-dev-cmd@v1

      - name: Build x86
        run: |
          msbuild foo_misc.sln /maxcpucount /p:Configuration=release /p:Platform=x86 /target:build

      - name: Build x64
        run: |
          msbuild foo_misc.sln /maxcpucount /p:Configuration=release /p:Platform=x64 /target:build

      - name: Prepare build artifacts
        run: |
          copy "Release\foo_misc.dll" "."
          copy "x64\Release\foo_misc.dll" "x64"
          7z a -tzip -mx9 "foo_misc.fb2k-component" "foo_misc.dll" "x64\foo_misc.dll"

      - name: Upload build artifact
        uses: actions/upload-artifact@v5
        with:
          path: foo_misc.fb2k-component

  versioning:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Download build artifact
        uses: actions/download-artifact@v6

      - name: Tagger
        uses: agukrapo/tagger@v0.6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          assets: foo_misc.fb2k-component
