name: Release
on:
  push:
    tags:
      - v*

jobs:
  release:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup devcmd
        uses: ilammy/msvc-dev-cmd@v1

      - name: Build x86
        run: |
          msbuild foo_misc.sln /maxcpucount /p:Configuration=release /p:Platform=x86 /target:build

      - name: Build x64
        run: |
          msbuild foo_misc.sln /maxcpucount /p:Configuration=release /p:Platform=x64 /target:build

      - name: Prepare build artifacts
        run: |
          copy "Release\foo_misc.dll" "."
          copy "x64\Release\foo_misc.dll" "x64"
          7z a -tzip -mx9 "foo_misc.fb2k-component" "foo_misc.dll" "x64\foo_misc.dll"
          $hash = (Get-FileHash -Algorithm SHA256 "foo_misc.fb2k-component").hash.ToString().toLower()
          Write-Output "$hash *foo_misc.fb2k-component" > "foo_misc.fb2k-component.sha256"

      - name: Automatic release
        uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: false
          files: |
            foo_misc.fb2k-component
            foo_misc.fb2k-component.sha256
